<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Magnet</title>

  <%- include ('../layout/css') -%>
</head>

<body id="page-top">
  <%- include ('layout/header') -%>
    <div class="container">
      
      
      <div class="whatsMsgBox">
          <div class="col-md-12">
        <div class="form-group">
          <div class="whatsMindIcon">
            <span><i class="fa fa-comments" aria-hidden="true"></i></span>
            <input type="text" class="form-control" id="facebook" name="facebook" placeholder="What's on your mind, Gyan?">
          </div>
        </div>
        </div>
      </div>

      <div class="card">
        <div class="w100 mb-2">
          <h4 class="font-red">Personal Information</h4>
          <p class="font-12">Update your Personal Information to be displayed on Your Magnet Site</p>
        </div>
        <div class="itemAlign sectionClickBox">
          <div class="lDiv w15">
            <a href="/user/personal_detail">
              <img src="/assets/img/personal-detail.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="/user/personal_detail">
              <h4>Personal Detail</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="Ebutton r" id="button-1">
              <input type="checkbox" class="checkbox">
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
            <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Show" data-off="Hide"> -->
          </div>
        </div>

        <div class="itemAlign sectionClickBox">
          <div class="lDiv w15">
            <a href="/user/contact_details">
              <img src="/assets/img/contact-detail.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="/user/contact_details">
              <h4>Contact Detail</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="Ebutton r" id="button-1">
              <input type="checkbox" class="checkbox">
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
            <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Show" data-off="Hide"> -->
          </div>
        </div>

        <div class="itemAlign sectionClickBox">
          <div class="lDiv w15">
            <a href="/user/social_media_links">
              <img src="/assets/img/social-media-detail.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="/user/social_media_links">
              <h4>Social Media Detail</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="Ebutton r" id="button-1">
              <input type="checkbox" class="checkbox">
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
            <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Show" data-off="Hide"> -->
          </div>
        </div>

        <div class="itemAlign sectionClickBox">
          <div class="lDiv w15">
            <a href="/user/about_me">
              <img src="/assets/img/about-me.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="/user/about_me">
              <h4>About Me</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="Ebutton r" id="button-1">
              <input type="checkbox" class="checkbox">
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
            <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Show" data-off="Hide"> -->
          </div>
        </div>
      </div>


      <div class="card mt-3">
        <div class="w100 mb-2">
          <h4 class="font-red">Service & Product</h4>
          <p class="font-12">Update your Personal Information to be displayed on Your Magnet Site</p>
        </div>
        <div class="itemAlign sectionClickBox">
          <div class="lDiv w15">
            <a href="/user/services">
              <img src="/assets/img/services.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="/user/services">
              <h4>Services</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="Ebutton r" id="button-1">
              <input type="checkbox" class="checkbox">
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
            <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Show" data-off="Hide"> -->
          </div>
        </div>

        <div class="itemAlign sectionClickBox">
          <div class="lDiv w15">
            <a href="/user/products">
              <img src="/assets/img/products.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="/user/products">
              <h4>Products</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="Ebutton r" id="button-1">
              <input type="checkbox" class="checkbox">
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
            <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Show" data-off="Hide"> -->
          </div>
        </div>

        <div class="itemAlign sectionClickBox">
          <div class="lDiv w15">
            <a href="/user/testimonials">
              <img src="/assets/img/testimonials.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="/user/testimonials">
              <h4>Testimonials</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="Ebutton r" id="button-1">
              <input type="checkbox" class="checkbox">
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
            <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Show" data-off="Hide"> -->
          </div>
        </div>
      </div>


      <div class="card mt-3">
        <div class="w100 mb-2">
          <h4 class="font-red">Links</h4>
          <p class="font-12">Update your Personal Information to be displayed on Your Magnet Site</p>
        </div>
        <div class="itemAlign sectionClickBox">
          <div class="lDiv w15">
            <a href="/user/image_gallery">
              <img src="/assets/img/image-gallery.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="/user/image_gallery">
              <h4>Image Gallery</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="Ebutton r" id="button-1">
              <input type="checkbox" class="checkbox">
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
            <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Show" data-off="Hide"> -->
          </div>
        </div>

        <div class="itemAlign sectionClickBox">
          <div class="lDiv w15">
            <a href="/user/video_gallery">
              <img src="/assets/img/video-gallery.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="/user/video_gallery">
              <h4>Video Gallery</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="Ebutton r" id="button-1">
              <input type="checkbox" class="checkbox">
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
            <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Show" data-off="Hide"> -->
          </div>
        </div>

        <div class="itemAlign sectionClickBox">
          <div class="lDiv w15">
            <a href="/user/important_links">
              <img src="/assets/img/important-links.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="/user/important_links">
              <h4>Important Links</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="Ebutton r" id="button-1">
              <input type="checkbox" class="checkbox">
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
            <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Show" data-off="Hide"> -->
          </div>
        </div>
      </div>


      <div class="card mt-3">
        <div class="w100 mb-2">
          <h4 class="font-red">Payment Information</h4>
          <p class="font-12">Update your Personal Information to be displayed on Your Magnet Site</p>
        </div>
        <div class="itemAlign sectionClickBox">
          <div class="lDiv w15">
            <a href="/user/bank_account_details">
              <img src="/assets/img/bank-account-detail.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="/user/bank_account_details">
              <h4>Bank Account Detail</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="Ebutton r" id="button-1">
              <input type="checkbox" class="checkbox">
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
            <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Show" data-off="Hide"> -->
          </div>
        </div>

        <div class="itemAlign sectionClickBox">
          <div class="lDiv w15">
            <a href="/user/upi_image">
              <img src="/assets/img/upi-image.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="/user/upi_image">
              <h4>UPI Image</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="Ebutton r" id="button-1">
              <input type="checkbox" class="checkbox">
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
            <!-- <input type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Show" data-off="Hide"> -->
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div id="magnetCrm">
        <div class="itemAlign">
          <div class="lDiv w15">
            <a href="#">
              <img src="/assets/img/crm.png" class="img-fluid rounded-circle">
            </a>
          </div>
          <div class="lDiv w70 padding-all-1">
            <a href="#">
              <h4>Magnet CRM</h4>
              <p class="font-10 fw-500 mb-3">Lorem Ipsum is simply dummy text of the printing and type setting industry.
              </p>
            </a>
          </div>
          <div class="rDiv w15 text-center">
            <div class="notificationCRM">
              12
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="text-center mt-2">
        <span class="copyRight">Copyright &#169; 2021 MAGNET</span>
      </div>

    </div>
    <%- include ('layout/footer') -%>
      <%- include ('../layout/js') -%>
        <!-- <script type="text/javascript">
  $("#hideshow").click(function()
  {
    if($(this).children(".toggle").hasClass('off'))
    {
       $(".toggle-group").children("span").addClass("eye_open").removeClass("eye_close");
    }
    else
    {
        
      $(".toggle-group").children("span").addClass("eye_close").removeClass("eye_open");
    }
  })

</script> -->
</body>

</html>