<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Magnet</title>

<%- include ('layout/css') -%>
</head>

<body id="page-top">
<div class="container boxBg">
  <div class="row">
    <div  class="col-md-12 col-sm-12 col-xs-12">
      <div class="d-flex justify-content-center"> <img src="/assets/img/logo.png" style="width: 25%;"> </div>
      <div class="d-flex justify-content-center pt-2">
        <h4 class="pTitle">magnet</h4>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button type="button" class="btn langBtn" data-toggle="modal" data-target="#selectLanguage">
        <div class="row align-items-center">
          <div style="padding-left:10px;"> <i class="fa fa-language"></i> </div>
          <div class="textLang">
            <p>Choose Language</p>
            <p class="subText">Use Magnet in your preferred language</p>
          </div>
          <div style="padding:0px 10px;"> <i class="fa fa-chevron-right"></i> </div>
        </div>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="selectLanguage" tabindex="-1" role="dialog" aria-labelledby="selectLanguage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="list-unstyled">
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include ('layout/js') -%>
<script>
  $(document).ready(function(){
    $('button').on('click',function () {
     $.getJSON('../javascripts/languages.json', function(lang) {
       $.each(lang, function (key, value) {
        $(".list-unstyled").append("<li><a href=/signup/"+key+">"+ value.nativeName +"</a></li>");
})
});
});
});
</script>

</body>
</html>
