@media screen and (max-width: 240px) {
    html, body {
        height: auto;
        margin: 0;
        font-family:'Lato', sans-serif;
        width: 100%;
        margin: 0rem auto;
    }
 }
@media screen and (min-width: 241px) and (max-width: 320px) {
    html, body {
        height: auto;
        margin: 0;
        font-family:'Lato', sans-serif;
        width: 100%;
        margin: 0rem auto;
    }
    .whatsMsgBox .whatsMindIcon {
        position: relative;
        margin-top: -1.3rem;
    }
}
@media screen and (min-width: 321px) and (max-width: 500px) {
    html, body {
        height: auto;
        margin: 0;
        font-family:'Lato', sans-serif;
        width: 100%;
        margin: 0rem auto;
    }
    .whatsMsgBox .whatsMindIcon {
        position: relative;
        margin-top: -1.8rem;
    }
    header {
        background: rgb(207,12,12);
        background: linear-gradient(39deg, rgba(207,12,12,1) 0%, rgba(207,12,70,1) 0%, rgba(55,55,130,1) 100%);
        min-height: 8rem;
        max-height: 8rem;
        position: sticky;
        top: 0;
        margin-bottom: 6.2rem;
        z-index: 1111;
    }
    footer {
        padding: .6rem 0rem;
        text-align: center;
        width: 100%;
        background-color: #ba124f;
        color: #fff;
        min-height: 4.2rem;
        margin-top: 2%;
        position: fixed;
        bottom: 0; 
    }
    .footerSpace {
        margin-top: 5rem;
    }
    .boxBglight {
        background-image: url('../img/lightBg.png');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        background-size: cover;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .boxBg {
        background-image: url('../img/bg.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        background-size: cover;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }
  }
  @media screen and (min-width: 501px) and (max-width: 768px) { 
    html, body {
        height: auto;
        margin: 0;
        font-family:'Lato', sans-serif;
        width: 500px;
        min-width: 500px;
        margin: 0rem auto;
    }
    header {
        background: rgb(207,12,12);
        background: linear-gradient(39deg, rgba(207,12,12,1) 0%, rgba(207,12,70,1) 0%, rgba(55,55,130,1) 100%);
        min-height: 8rem;
        max-height: 8rem;
        position: sticky;
        top: 0;
        margin-bottom: 6.2rem;
        z-index: 1111;
    }
    footer {
        padding: .6rem 0rem;
        text-align: center;
        width: 500px;
        background-color: #ba124f;
        color: #fff;
        min-height: 4.2rem;
        margin-top: 2%;
        position: fixed;
        bottom: 0; 
    }
    .footerSpace {
        margin-top: 5rem;
    }
    .boxBglight {
        background-image: url('../img/lightBg.png');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        background-size: cover;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .boxBg {
        background-image: url('../img/bg.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        background-size: cover;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }

  }

  @media screen and (min-width: 769px) and (max-width: 1000px) {
    html, body {
        height: auto;
        margin: 0;
        font-family:'Lato', sans-serif;
        width: 500px;
        min-width: 500px;
        margin: 0rem auto;
    }
   }
   @media screen and (min-width: 1001px) and (max-width: 1800px) {
    html, body {
        height: auto;
        margin: 0;
        font-family:'Lato', sans-serif;
        width: 500px;
        min-width: 500px;
        margin: 0rem auto;
    }
   }