<div class="footerSpace"></div>
<!-- <footer class="d-none"> -->
<footer>
    <div class="container">
      <div class="lDiv w-25">
        <a href="">
          <img src="/assets/img/preview-magnet.png">
          <p class="font-10">Preview Profile</p>
        </a>
      </div>
      <div class="lDiv w-25">
        <a href="">
          <img src="/assets/img/choose-template.png">
          <p class="font-10">Choose template</p>
        </a>
      </div>
      <div class="lDiv w-25">
        <a href="">
          <img src="/assets/img/share-profile.png">
          <p class="font-10">Share Profile</p>
        </a>
      </div>
      <div class="lDiv w-25">
        <a href="">
          <img src="/assets/img/share-profile.png">
          <p class="font-10">Export</p>
        </a>
      </div>  
    </div>
  </footer>